@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url(./fonts.css);
@import url(./normalize.css);
@import url(./fontello.css);
@import url(./reset.css);

html, body{
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

html{
  font-size: 10px;
}

body{
  font-size: 1.4rem;
  font-weight: 500;
}

body *, body *::before, body *::after{
  box-sizing: border-box;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 960px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background: yellow;
}

/* 비주얼 */
.visual{
  background: pink;
  height: 120px;
}

/* 메인 콘텐츠 */
.main{
  background: skyblue;
  min-height: 400px;
  display: flow-root;
  padding: 30px 15px;
}

.group{
  float: left;
  margin: 0 15px;
}

.group1{
  background: teal;
  width: 250px;
}

.group2{
  background: yellow;
  width: 380px;
}

.group3{
  background: red;
  width: 190px;
}

/* 슬로건 */
.slogan{
  background: coral;
}

/* 푸터 */
.footer{
  background: silver;
}

.footer-inner{
  background: lime;
}